/*prefix string*/
@prefix-cls: ac;

/*color*/
@import "color.less";

/*theme color*/
@primary1Color:       @cyan500;
@primary2Color:       @cyan700;
@primary3Color:       @grey400;
@accent1Color:        @pinkA200;
@accent2Color:        @grey100;
@accent3Color:        @grey500;
@textColor:           @darkBlack;
// @secondaryTextColor: fade(@darkBlack, 0.54);
@alternateTextColor:  @white;
@canvasColor:         @white;
@borderColor:         @grey300;
@disabled1Color:      @lightBlack;
@disabled2Color:      rgb(229, 229, 229);
@pickerHeaderColor:   @cyan500;
// @clockCircleColor: fade(@darkBlack, 0.07);
@shadowColor:         @fullBlack;


/*font family*/
@default1FontFamily:  Microsoft Yahei;
@default2FontFamily:  Arial;
@default3FontFamily:  Roboto,sans-serif;

/*RaiseButton*/
@RaiseButtonH:        36px;
@RaiseButtonRadius:   2px;
@RaiseButtonFtWeight: 500;
@RaiseButtonSpanPad:  16px;

/*CircleButton*/
@CircleButtonH:        56px;
@CircleButtonHMini:    40px;
@CircleButtonFS:       16px;
@CircleButtonFSMini:   14px;
