.@{prefix-cls}-RaiseBtn {
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: none;
  margin: 0;
  padding: 0 @RaiseButtonSpanPad;
  height: @RaiseButtonH;
  line-height: @RaiseButtonH;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  transition: @transition1ms450;
  border-radius: @RaiseButtonRadius;
  text-align: center;
  font-weight: @RaiseButtonFtWeight;

  > span {
    font-family: @default1FontFamily;
    text-transform: uppercase;
  }
}

.@{prefix-cls}-RaiseBtn-default {
  background-color: @white;
  &:hover{
    background-color: rgba(153, 153, 153, 0.2);
  }
}

.@{prefix-cls}-RaiseBtn-primary {
  background-color: @primary1Color;
  color: @white;
  &:hover{
    opacity: 0.65;
  }
}

.@{prefix-cls}-RaiseBtn-secondary {
  background-color: @accent1Color;
  color: @white;
  &:hover{
    opacity: 0.65;
  }
}

.@{prefix-cls}-RaiseBtn:disabled,
.@{prefix-cls}-RaiseBtn-disabled{
  background-color: @disabled2Color;
  color: rgba(0, 0, 0, 0.6);
  cursor: default;
}
